:root {
  --primary-color: #02bb37;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  background-color: #1f1f21 !important;
}
h1,
h3 {
  color: white;
  text-align: center;
}
.main {
  position: block;
  background-color: #1f1f21;
  width: 70% !important;
  margin-top: 100px;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  box-shadow: 30px 21px var(--primary-color);
  padding: 20px;
}
.avatar {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  border: 3px solid #dd00ae;
  box-shadow: 30px -18px #dd00ae;
}
#carouselExampleInterval {
  width: 20%;
  opacity: 90%;
}

.contact {
  background: var(--primary-color) !important;

  color: white !important;
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}
/* @media screen and (max-width: 576px) {
  h1 {
    font-size: 34px !important;
  }
  h2 {
    font-size: 20px !important;
    text-align: center;
  }
  p {
    text-align: center;
  }
  .link {
    display: block !important;
  }
} */
