:root {
  --primary-color: #02bb37;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
body {
  background-color: #1f1f21 !important;
}
h1,
h2,
h3,
p {
  color: white;
  text-align: center;
}
h1 {
  font-family: "Raleway", sans-serif;
  font-size: 40px !important;
}
h2 {
  font-family: "Barlow", sans-serif;
  font-size: 20px !important;
}
h3 {
  font-family: "Raleway", sans-serif;
}
p {
  font-family: "Barlow", sans-serif;
}
.navbar-icon {
  background-color: var(--primary-color) !important;
}
.active-link {
  color: #dd00ae !important;
}
.nav-link {
  font-family: "Barlow", sans-serif !important;
}
.nav-link:hover {
  color: #dd00ae !important;
}

.main {
  background-color: #1f1f21;
  width: 70% !important;
  margin-top: 100px;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  box-shadow: 30px 21px var(--primary-color);
  padding: 20px;
}
.container-about {
  width: 80% !important;
  margin-top: 100px;
}
.container-contact {
  width: 70% !important;
  margin-top: 100px;
  background-color: #ffffff10;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 10px;
  border: 2px solid var(--primary-color);
}
.avatar {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid var(--primary-color);
}
.photo {
  box-shadow: 23px -22px var(--primary-color);
  border: 3px solid var(--primary-color);
}
#carouselExampleInterval {
  width: 30%;
  opacity: 80%;
}

.link {
  border: 1px solid var(--primary-color) !important;
  color: white !important;
  font-family: "Barlow", sans-serif !important;
}
.link:hover {
  background-color: #dd00ae !important;
  transition: all 200ms linear;
  transform: rotate(360deg);
}
/* .email-link {
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
} */
.sertificate {
  margin: 20px !important;
}
.cards {
  width: 500px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: minmax(100%, 1fr);
  grid-template-areas: "stack";
  overflow: hidden;
}
.cards > img,
.cards > figcaption {
  grid-area: stack;
}
.cards > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cards > figcaption {
  grid-area: stack;
  background-color: var(--primary-color);
  opacity: 95%;
  transform: translateY(calc(100% - 4rem));
  transition: transform 600ms;
}
.cards > figcaption > h3 {
  height: 4rem;
}
.cards:hover figcaption {
  transform: none;
}
footer .social-links a {
  margin: 60px 20px;
  background-color: var(--primary-color);
  color: #1f1f21;
  padding: 6px 10px;
  border-radius: 50%;
  transition: all 200ms linear;
}
footer .social-links a:hover {
  background-color: #dd00ae;
  color: white;
}
.social-links-button i {
  margin: 30px 30px 60px;
  background-color: var(--primary-color);
  color: #1f1f21;
  padding: 6px 10px;
  border-radius: 50%;
  transition: all 200ms linear;
}
.social-links-button i:hover {
  background-color: #dd00ae;
  color: white;
}
.greetens {
  margin: 100px 0 60px 0;
  padding: 10px;
  background-color: var(--primary-color);
}

@media screen and (max-width: 576px) {
  .link {
    display: block !important;
  }
  .photo {
    border: 3px solid var(--primary-color);
    box-shadow: none;
  }
  .social-links-button i {
    margin: 20px 5px 30px;
  }
}
